<h1>This is the front page</h1>
  
<% @restaurants.each do |restaurants| %>
  <div class="box">
    <h1><%= restaurants.name %></h1>
    <h3><%= restaurants.address %></h3>
    <h3><%= restaurants.description %></h3>
  </div>
<% end %>
